@use 'element-plus/theme-chalk/src/mixins/function.scss' as *;
@use "element-plus/theme-chalk/src/common/var.scss" as *;
@use 'element-plus/theme-chalk/dark/css-vars.css' as *;


@tailwind base;
/* @tailwind components; */
@tailwind utilities;

:root {
  --bg-color: rgb(255 255 255 / 0.8);
  --header-color: linear-gradient(90deg, var(--primary-color), var(--second-color));
  --text-color-regular: #{getCssVar('text-color', 'regular')};
  --text-color-primary: #{getCssVar('text-color', 'primary')};
  --text-color-secondary: #{getCssVar('text-color', 'placeholder')};
}

.dark {
  --bg-color: rgb(3 3 3 / 0.8);
  --header-color: linear-gradient(90deg, var(--primary-color), var(--second-color));
}

body {
  color: var(--text-color-primary);
  font-size: 16px;
  // cursor: url('@/assets/mouse.gif'), auto;
  min-height: 100vh;
}

.el-button,
.el-switch__core,
.el-slider__runway,
.el-scrollbar__thumb,
.el-slider__button {
  // cursor: url('@/assets/mouse-pointer.gif'), pointer !important;
}

@font-face {
  font-family: MuYao;
  src: url('./font/muyao.ttf');
}
