@use "./base.scss" as *;
@use 'element-plus/theme-chalk/src/mixins/function.scss' as *;
@use "element-plus/theme-chalk/src/common/var.scss" as *;

@tailwind base;
/* @tailwind components; */
@tailwind utilities;

:root {
  --primary-color: #{$primary-color};
  --second-color: #{$second-color};

  --header-color: linear-gradient(90deg, var(--primary-color), var(--second-color));

  --text-color-regular: #{getCssVar('text-color', 'regular')};
  --text-color-primary: #{getCssVar('text-color', 'primary')};
}

body {
  color: var(--text-color-primary);
  font-size: 16px;
}

@font-face {
  font-family: MuYao;
  src: url('./font/muyao.ttf');
}